{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/book_list.css' %}">
h1 class="text_color">Все новости</h1>


<h1>Список книг</h1>

{% for book in books %}
    <div class="square_mom">
{% for i in post_object %}
<h1>Список книг</h1>
    <a href="{% url 'book_create' %}">Добавить книгу</a>
    <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a>
                <a href="{% url 'book_update' book.pk %}">Изменить</a>
                <a href="{% url 'book_delete' book.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}

{% include 'footer.html' %}


